.top,
.middle,
.bottom {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.top > div,
.middle > div,
.bottom > div {
  height: 80px;
  width: 80px;
}

[data-position="00"],
[data-position="01"],
[data-position="02"],
[data-position="10"],
[data-position="11"],
[data-position="12"] {
 
    border-bottom: 2px solid black;

}

[data-position="01"],
[data-position="11"],
[data-position="21"] {
    border-left: 2px solid black;
    border-right: 2px solid black
}


